In [1]:
# If Condition

a = 100
b = 100
if a>b:
    print(a, "Greater than", b)
elif b>a:
    print(b, "greater than", a)
else:
    print(a, "and", b, "are equal")

100 and 100 are equal

In [2]:
# if condition between

a = 300
if a<100:
    print(a, "Less than 100")
elif (100 <= a <= 200):
    print(a, "is between 100 and 200")
else:
    print(a, "Greater than 200")

300 Greater than 200

In [4]:
# Nested if condition

a = 40
if a<100:
    print(a, "less than 100")
    
    if (50 <= a <= 100):
        print(a, "is between 50 and 100")
    elif (20 <= a <= 50):
        print(a, "is between 20 and 50")
    else:
        print(a, "is less than 20")
        
elif (20 <= a <= 200):
    print(a, "is between 50 and 200")
else:
    print(a, "greater than 200")

40 less than 100
40 is between 20 and 50

In [6]:
# while loop

a = 1

while a < 5:
    print("The number is", a)
    a+=1
print("Program end")

The number is 1
The number is 2
The number is 3
The number is 4
Program end

In [7]:
# For Loop

A = [10, 15, 20, 25]

for i in range(len(A)):
    print(i)
print("Goody Day")

0
1
2
3
Goody Day

In [8]:
for i in A:
    print(i)
print("Good Day")

10
15
20
25
Good Day

In [9]:
# Nested Loop

for i in range(10):
    print(str(i)*i)
print("Good Day")

1
22
333
4444
55555
666666
7777777
88888888
999999999
Good Day

In [10]:
A = ["Pen", "Pencil", "Book","Toy"]
B = ["School", "College"]

for i in A:
    print(i)
    
    for j in B:
        print(' ', j)

Pen
  School
  College
Pencil
  School
  College
Book
  School
  College
Toy
  School
  College

In [14]:
no1 = input("Enter the Value:\t")
no2 = input("Enter the Value:\t")

print("Data type of no1:\t", type(no1))

no3 = int(no1) + int(no2)
print("Addition is:\t\t",no3)

Enter the Value:	5
Enter the Value:	10
Data type of no1:	 <class 'str'>
Addition is:			 15

In [15]:
# list

list1 = [10, 20, 30, 40, 50, 60, 70]
print(list1[1])
print(list1[0:3])
print(list1[-1])
print(list1[-4])
print(list1[-4:-2])
print(list1[-4:])

20
[10, 20, 30]
70
40
[40, 50]
[40, 50, 60, 70]

In [16]:
# list Concatenation

list2 = [100, 110, 120]
print(list1 + list2 + [50, 51, 52])

[10, 20, 30, 40, 50, 60, 70, 100, 110, 120, 50, 51, 52]

In [17]:
# Repeat

print(list2 * 3)

[100, 110, 120, 100, 110, 120, 100, 110, 120]

In [18]:
# Member Ship

print(150 in list2)

False

In [20]:
# Delete from list (Del, Remove, Pop)

list1 = ["John", "Sam", "Rick", "Jim"]
del(list1[1])
print(list1)

# Del on row

list1 = ["John", "Sam", "Rick", "Jim"]
del(list1[0:])
print(list1)

['John', 'Rick', 'Jim']
[]

In [23]:
# pop from list

list1 = ['John', 'Sam', 'Rick', 'Jim']
a = list1.pop(2)
print(a)
print(list1)

# Remove from list
list1 = ['John', 'Sam', 'Rick', 'Jim']
a = list1.remove('John')
print(a)
print(list1)

Rick
['John', 'Sam', 'Jim']
None
['Sam', 'Rick', 'Jim']

In [25]:
# append to list

list1 = [1, 2, 3, 4, 5, 6]

list1.append(7)

print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [26]:
# Method 1
list1 = []
for x in [1, 2, 3, 4, 5]:
    list1.append(x * 2)
print(list1)

[2, 4, 6, 8, 10]

In [27]:
# Method 2
list1  = [x * 2 for x in [1, 2, 3, 4, 5]]
print(list1)

[2, 4, 6, 8, 10]

In [28]:
# Append, Insert, Extend

list1 = [1, 2, 3, 4, 5, 6]
list1.append(15)
list1.extend(['A', 'B', 'C'])
list1.insert(2, 'M')
list1.insert(2, ['P', 'Q', 'R'])
print(list1)

[1, 2, ['P', 'Q', 'R'], 'M', 3, 4, 5, 6, 15, 'A', 'B', 'C']

In [29]:
# Sort Example 1

list1 = ['Rick', 'Jim', 'Mark', 'Jack', 'Ken']
list2 = sorted(list1)
print(list1)
print(list2)

['Rick', 'Jim', 'Mark', 'Jack', 'Ken']
['Jack', 'Jim', 'Ken', 'Mark', 'Rick']

In [31]:
# Sort Example 2

list1 = ['Rick', 'Jim', 'Mark', '10','50', '60', 'Jack', 'jack', 'Ken']
list2 = sorted(list1)
print(list1)
print(list2)


# Sort /Sorted 
# sort() function will modify the list it is called on.
# sorted() function will create a new list containing a sorted 
# version of the list.

['Rick', 'Jim', 'Mark', '10', '50', '60', 'Jack', 'jack', 'Ken']
['10', '50', '60', 'Jack', 'Jim', 'Ken', 'Mark', 'Rick', 'jack']

In [33]:
x = [10, 20, 30, 15, 12, 40, 22, 12]
print(sorted(x))
sortx = sorted(x)
print(x)
print(sortx)

[10, 12, 12, 15, 20, 22, 30, 40]
[10, 20, 30, 15, 12, 40, 22, 12]
[10, 12, 12, 15, 20, 22, 30, 40]

In [35]:
# sort()

x = [10, 20, 30, 15, 12, 40, 22, 12]
print(x.sort())
sortx = x.sort()
print(x)
print(sortx)

None
[10, 12, 12, 15, 20, 22, 30, 40]
None

In [36]:
# Print in reverse order

print(list1[::-1])

print(list1[4:2:-1])

['Ken', 'jack', 'Jack', '60', '50', '10', 'Mark', 'Jim', 'Rick']
['50', '10']

In [37]:
# List Summary

# Making a list:
colors =['Red', 'Blue', 'Green', 'Black', 'White']

# Getting the first element
first_color = colors[0]

# Getting the Second element
second_color = colors[1]

# Getting the last element
newest_color = colors[-1]

print(first_color, "\n", second_color, "\n", newest_color)

Red
 Blue
 White

In [40]:
# Modifying individual items

print(colors)
#Changing an element
colors[0] = 'Yellow'
colors[-2] = 'Red'
print(colors)

['Yellow', 'Blue', 'Green', 'Red', 'White']
['Yellow', 'Blue', 'Green', 'Red', 'White']

In [42]:
# Adding elements:
# Adding an element to the end of the list
colors.append('Orange')
print(colors)

['Yellow', 'Blue', 'Green', 'Red', 'White', 'Orange', 'Orange']

In [43]:
# Starting wiht an empty list
colors = []
colors.append('Red')
colors.append('Blue')
colors.append('Green')
print(colors)

['Red', 'Blue', 'Green']

In [44]:
# Inserting elements at a particular position
colors.insert(0, 'Violet')
colors.insert(2, 'Purple')
print(colors)

['Violet', 'Red', 'Purple', 'Blue', 'Green']

In [45]:
# Removing elements

#Deleting an element by its position
del colors[-1]
print(colors)

['Violet', 'Red', 'Purple', 'Blue']

In [46]:
# Removing an item by its value

colors = ['Red', 'Blue', 'Green', 'Black', 'White']
colors.remove('Green')
print(colors)

['Red', 'Blue', 'Black', 'White']

In [47]:
# Popping elements
# Pop the last item from a list

most_recent_color = colors.pop()
print(most_recent_color)

White

In [48]:
first_color = colors.pop(0)
print(first_color)
print(colors)

Red
['Blue', 'Black']

In [50]:
# Length
num_colors = len(colors)
print("We have " + str(num_colors) + " colors.")

We have 2 colors.

In [52]:
# Sorting a list:
# Sorting a list permanently
colors.sort()
print(colors)

['Black', 'Blue']

In [53]:
# Sorting a list permanently in reverse alphabetical order
colors.sort(reverse = True)

['Blue', 'Black']

In [55]:
# Sorting a list temporarily
print(sorted(colors))
print(sorted(colors, reverse = True))

['Black', 'Blue']
['Blue', 'Black']

In [56]:
# Reversing the order of a list
colors.reverse()
print(colors)

['Black', 'Blue']

In [57]:
# Looping through a list:
# Printing all items in a list

for col in colors:
    print(col)

Black
Blue

In [58]:
# Printing a message for each item, and a separate message afterwords

for col in colors:
    print("Welcome " + col + "!")
print("Welcome, we're glad to see you all!")

Welcome Black!
Welcome Blue!
Welcome, we're glad to see you all!

In [60]:
# The range() function:
# Printing the numbers 0 to 10

for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [1]:
# Printing the numbers 1 to 10

for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
# Making a list of numbers from 1 to a million

nums = list(range(1, 1000001))

In [6]:
# Simple Statistics

#Finding the minimum value in a list
nums = [23,22,44,17,77,55,1,65,82,2]
num_min = min(nums)
print(num_min)

1

In [7]:
#Finding the maximum value in a list
print(max(nums))

82

In [8]:
#Finding the sum of all values in a list
print(sum(nums))

388

In [10]:
# Slicing a list

colors = ['Red', 'Blue', 'green', 'Black', 'White']

# Getting the first three items
first_three = colors[:3]

# Getting the middle three items
middle_three = colors[1:4]

# Getting the last three items
last_three = colors[-3:]

print(" first three:\t", first_three, "\n Middle three:\t", 
      middle_three, "\n last three:\t", last_three)

 first three:	 ['Red', 'Blue', 'green']
 Middle three:	 ['Blue', 'green', 'Black']
 last three:	 ['green', 'Black', 'White']

In [11]:
# Copying a list

# Making copy of a list

colors = ['Red', 'Blue', 'green', 'Black', 'White']

copy_of_colors = colors[:]
print(copy_of_colors)

['Red', 'Blue', 'green', 'Black', 'White']

In [12]:
# List of comprehensions:

# Using a loop to generate a list of square numbers

squr = []
for x in range(1, 11):
    sq = x ** 2
    squr.append(sq)
print(squr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# Using a comprehension to generate a list of square numbers

squr = [x ** 2 for x in range(1, 11)]
print(squr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# Using a loop to convert a list of names to upper case

colors = ['Red', 'Blue', 'green', 'Black', 'White']
upper_cols = []
for cols in colors:
    upper_cols.append(cols.upper())
print(upper_cols)

['RED', 'BLUE', 'GREEN', 'BLACK', 'WHITE']

In [18]:
# Using a comprehension to convert a list of names to upper case

colors = ['Red', 'Blue', 'green', 'Black', 'White']
upper_cols = [cols.upper() for cols in colors]
print(upper_cols)

['RED', 'BLUE', 'GREEN', 'BLACK', 'WHITE']

In [23]:
# Length of Tuple inside list

list2 = [(1, 2, 3), ('X', 'Y', 'Z', 'A')]
print(list2)
print(len(list2))
print(len(list2[1]))

[(1, 2, 3), ('X', 'Y', 'Z', 'A')]
2
4

In [45]:
# Length ,Max, Min of the Tuple (based on Ascii value)

tup1 = (1, 2, 3, 'x', 'y', 'm')
tup2 = ('x', 'y', 'm', 'N')
print(len(tup1))
print(max(tup2))
print(min(tup2))

6
y
N

In [51]:
# Multiplication

tup1 = (1, 2, 3, 'x', 'y', 'm')
print(tup1 * 2)
print('x' in tup1)

(1, 2, 3, 'x', 'y', 'm', 1, 2, 3, 'x', 'y', 'm')
True

In [55]:
# Multiply one element
# here 30 is 3 times

tup1 = (10, 20, 30)
tup2 = tup1[:2]
tup3 = tup1[2:]*3
tup1 = tup2 + tup3
print(tup1)

(10, 20, 30, 30, 30)

In [65]:
# Del Tuple
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup3 = tup1 + tup2
print(tup3)
del(tup2)

# print(tup2)

(1, 2, 3, 4, 5, 6)

In [72]:
# Update List inside TUple

tup2 = ([5, 6, 7], [10, 11, 12], 13, 14)
print(tup2)
print(type(tup2))
print(type(tup2[0]))
# tup2[1] = [10, 15, 14] - Error
tup2[1][1] = [10, 15, 14]
print(tup2)

([5, 6, 7], [10, 11, 12], 13, 14)
<class 'tuple'>
<class 'list'>
([5, 6, 7], [10, [10, 15, 14], 12], 13, 14)

In [79]:
# COnvert list to Tuple

Tup2 = (10, 11, 12)
print(Tup2, type(Tup2))
List3 = list(Tup2)
print(list3, type(list3))

(10, 11, 12) <class 'tuple'>
[10, 11, 12] <class 'list'>

In [86]:
# String Operation

x = 'Good Day'
print(len(x))
print(x[2])
print(x[2:8])
print('o' in x)

8
o
od Day
True

In [89]:
x = ('G', 'o', 'o', 'd', ' ', 'D', 'a', 'y')
print(len(x))
print(x[2])
print(x[2:8])
print('o' in x)

8
o
('o', 'd', ' ', 'D', 'a', 'y')
True

In [90]:
# %s

a = 'Python'
b = 'Training'
print('Welcome to %s %s' %(a, b))

Welcome to Python Training

In [93]:
a = 'Python '
print(a *2)
aa = a[0:10] + 'Training'
print(aa)

Python Python
Python Training

In [96]:
# Find position D

str1 = 'Good Day'
print(str1.find('D'))
print(str1.find('D')+1)

5
6

In [108]:
# Example set
x = set('Good Morning')
print(x)

{'M', 'g', 'i', 'G', 'r', 'o', 'n', ' ', 'd'}

In [112]:
# Union in set

a = {1, 2, 3, 4}
b = {3, 4, 5, 6, 8}
c = a | b
print(c)
print(a & b)
print(a-b)

{1, 2, 3, 4, 5, 6, 8}
{3, 4}
{1, 2}
{1, 2, 3, 4, 5, 6, 8}

In [114]:
# Dictionary

person = {'First_Name':'John',
         'Last_Name': 'Sam',
         'Salary': 5000}
print(person['First_Name'])
print(person)

John
{'First_Name': 'John', 'Last_Name': 'Sam', 'Salary': 5000}

In [134]:
person = {'first_name':['John', 'Sam', 'Jim', 'Kim'], 'last_name':'Len'}
print(person)
print(person['first_name'])
print(person['first_name'])
print(person['first_name'][2])

{'first_name': ['John', 'Sam', 'Jim', 'Kim'], 'last_name': 'Len'}
['John', 'Sam', 'Jim', 'Kim']
['John', 'Sam', 'Jim', 'Kim']
Jim

In [128]:
person = {'first_name':['John', 'Sam', 'Jim', 'Kim'], 'last_name':'Len'}
print(person['first_name'])
person['first_name'][2] = 'XYZ'
print(person['first_name'])

['John', 'Sam', 'Jim', 'Kim']
['John', 'Sam', 'XYZ', 'Kim']

In [135]:
# Del from Dictionary

person = {'first_name':['John', 'Sam', 'Jim', 'Kim'], 'last_name':'Len'}
del(person['first_name'][2])
print(person['first_name'])

['John', 'Sam', 'Kim']

In [136]:
# clear dictionary

print(person.clear())

None

In [192]:
# Dictionary keys, values

person = {'first_name':['John', 'Sam', 'Jim', 'Kim'], 'last_name':'Len'}
print(person.keys())
print(person.values())
print(person.items())
print(person.get('first_name'))

dict_keys(['first_name', 'last_name'])
dict_values([['John', 'Sam', 'Jim', 'Kim'], 'Len'])
dict_items([('first_name', ['John', 'Sam', 'Jim', 'Kim']), ('last_name', 'Len')])
['John', 'Sam', 'Jim', 'Kim']

In [187]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
double_dict = {k:v ** 2 for (k, v) in dict1.items()}
print(double_dict)

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

In [193]:
# Adding New Column

thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

print(thisdict)

# Add
thisdict["color"] = "Red"
print(thisdict)

# Pop
thisdict.pop("color")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [171]:
# Copy to dictionary

thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [175]:
# Nested dictionary

myFamily = {
    "child1":{
        "name":"Emmail",
        "year": 2004
    },
    "child2":{
        "name":"Youtube",
        "year": 2007
    },
    "child3":{
        "name": "Google",
        "year" : 2010
    }
}

print(myFamily)

{'child1': {'name': 'Emmail', 'year': 2004}, 'child2': {'name': 'Youtube', 'year': 2007}, 'child3': {'name': 'Google', 'year': 2010}}

In [179]:
print('Values\n', myFamily.values())

Values
 dict_values([{'name': 'Emmail', 'year': 2004}, {'name': 'Youtube', 'year': 2007}, {'name': 'Google', 'year': 2010}])

In [180]:
print('Items:\n', myFamily.items())

Items:
 dict_items([('child1', {'name': 'Emmail', 'year': 2004}), ('child2', {'name': 'Youtube', 'year': 2007}), ('child3', {'name': 'Google', 'year': 2010})])

In [185]:
# Loop Exampe
customer_name = ['John','Sam','Rick','Jim', 'Ken']
order_id = ['AA123','AAA110','BBB111','BBB123','CCC100']


for (c, o) in zip(customer_name, order_id):
    print('Hello %s, Your Order id is %s' %(c, o))

Hello John, Your Order id is AA123
Hello Sam, Your Order id is AAA110
Hello Rick, Your Order id is BBB111
Hello Jim, Your Order id is BBB123
Hello Ken, Your Order id is CCC100

In [186]:
# Example of zip()

city = ['Chennai', 'Mumbai', 'Delhi', 'Kolkata']
population = [5000, 8000, 10000, 7500]

new_dict = {
    city:population for city, population in zip(city, population)
}

print(new_dict)

{'Chennai': 5000, 'Mumbai': 8000, 'Delhi': 10000, 'Kolkata': 7500}

In [196]:
# Functions

def Sales():
    Total_Sales = 200 * 100
    print(Total_Sales)
    
Sales()

20000

In [201]:
def Sales(Qty = 10):
    Total_sales = Qty * 100
    print(Total_sales)
    
Sales(50)
Sales()

5000
1000

In [204]:
def Sales(Qty, prc):
    Total_sales = Qty * prc
    print(Total_sales)
    
Sales(50, 20)

1000

In [207]:
def Sales(Prc, Qty = 10):
    Total_sales = (Qty * Prc)
    print(Total_sales)
    
Sales(50, 20)

1000

In [213]:
def Sales(Prc = 50, Qty = 10):
    Total_sales = Qty * 100
    print(Total_sales)
    
print(Sales())
print(Sales(200, 100))

1000
None
10000
None

In [214]:
def Sales(Prc = 50, Qty = 10):
    Total_sales = (Qty * Prc)
    return(Total_sales)
    
x = Sales(200, 200)
print(x)

40000

In [227]:
def financials(revenue, expenses):
    """ This function is used to calculate profit and profit ratio"""
    
    profit = revenue - expenses
    profit_ratio = profit / revenue
    new_financials = (profit, profit_ratio)
    return(new_financials)

f = financials(1000, 900)
print(f)

(100, 0.1)

In [236]:
print('Profit:\t\t %s \nProfit Ratio:\t %s' %(f[0], f[1]))

Profit:		 100
Profit Ratio:	 0.1

In [239]:
# celsius to faharenheit

def Convertto(deg):
    F = (deg*9/5)+32
    return(F)

temp = 38
temp = Convertto(temp)
print('temprature in Faranheit is:\t',temp)

temprature in Faranheit is:	 100.4

In [252]:
# Questions & Answers

# Que. 1) Write a python program to count the number 4 in a given list

def list_count_4(nums):
    count = 0
    for num in nums:
        if num == 4:
            count = count+ 1
    return count

print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 7, 4, 4]))

2
3

In [256]:
# Que. 2) Write a python program to test whether a passed letter 
# is vowel or not

def is_Vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels

print(is_Vowel('i'))

True

In [258]:
# Que. 3) Write a python program to check whether a specified value is
# contained in a group of values
# Test Data:
# 3 -> [1, 5, 8, 3] : True
# -1 -> [1, 5, 8, 3] : False

def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False

print(is_group_member([1, 5, 8, 3], 3))
print(is_group_member([1, 5, 8, 3], -1))

True
False

In [272]:
# Que. 4) Write a python program to create histogram from a given 
# list of integer

def histogram(items):
    for n in items:
        output = ''
        times = n
        while (times>0):
            output += '@'
            times = times -1
        print(output)

histogram([2, 3, 6, 5])

@@
@@@
@@@@@@
@@@@@

In [276]:
# Que. 5) Write a python program to concatenate all elements 
# in a list into a string and return it

def concatenate_list_data(list):
    result = ''
    for element in list:
        result += str(element)
    return result

print(concatenate_list_data([1, 5, 12, 2]))

15122

In [282]:
# Que. 6) Write a python program that will accept the base and height of a 
# triangle and compute the area
# A = (h(b)b)/2

b = int(input("Enter The Base:\t\t"))
h = int(input("Enter The Height:\t"))

area = b*h/2
print("ares is:\t\t", area)

Enter The Base:		5
Enter The Height:	10
ares is:		 25.0

In [285]:
# Que. 7) Write a python program to sum of three given integers. However, if
# two values are equal sum will be zero

def sum(x, y, z):
    if x == y or y == z or x == z:
        sum = 0
    else:
        sum = x + y + z
    return sum

print(sum(2, 1, 2))
print(sum(3, 2, 2))
print(sum(2, 2, 2))
print(sum(1, 2, 3)) 
print(sum(5, 4, 3))

0
0
0
6
12

In [288]:
# Que. 8) Write a python program to sum of two given integers. However, if
# the sum is between 15 to 20 it will return 20

def sum(x, y):
    sum = x + y
    if sum in range(15,20):
        return 20
    else:
        return sum
    
print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

In [290]:
# Que. 9) Write a python program that will return true if the two given 
# integer values are equal or their sum or difference is 5

def test_number5(x, y):
    if x == y or abs(x-y) ==5 or (x+y) == 5:
        return True
    else:
        return False
print(test_number5(7, 2))
print(test_number5(3, 2))
print(test_number5(2, 2))
print(test_number5(7, 10))

True
True
True
False

In [293]:
# Que. 10) Write a python program to compute the distance between the 
# points (x1, y1) and (x2, y2)

import math

p1 = [4, 0]
p2 = [6, 6]
distance = math.sqrt(((p1[0] - p2[0]) ** 2) + ((p1[1] - p2[1])** 2))

print(distance)

6.324555320336759