In [1]:
#Comment

print('Hello')

Hello

In [11]:
a = 10
b = 'Hello'

print("value of a:\t",a)
print("value of b:\t",b)
print("value of a:\t",a,'\n','value of b:\t',b)

value of a:	 10
value of b:	 Hello
value of a:	 10
 value of b:	 Hello

In [13]:
x, y, z = 10, 12, 'Hello'
print("value of z:\t",z)

value of z:	 Hello

In [12]:
A = 10+6j
B = 9+4j
print("result of A + b:\t",A + B)

result of A + b:	 (19+10j)

In [7]:
# Logical Operator

a = 10
b = 15

print("result of a and b:\t",a and b)
print("result of a or b:\t",a or b)
print("result of !a:\t\t",not a)

result of a and b:	 15
result of a or b:	 10
result of !a:		 False

In [14]:
#Binary AND operator

#Example 1
a = 12
b = 25

print('result of bitwise a & b:\t', (a&b))

result of bitwise a & b:	 8

In [16]:
#Binary AND operator

#Example 2
a = 60
b = 13

c = a & b

print('result of bitwise a & b:\t', c)

result of bitwise a & b:	 12

In [17]:
#Bitwise OR Operator

a = 60
b = 13

c = a | b

print('result of bitwise a | b:\t', c)

result of bitwise a | b:	 61

In [18]:
#Bitwise XOR Operator

a = 60
b = 13

c = a ^ b

print('result of bitwise a ^ b:\t', c)

result of bitwise a ^ b:	 49

In [20]:
#Bitwise NOT Operator

a = 60
b = 13

c = ~a
d = ~b

print('result of bitwise ~a:', c)
print('result of bitwise ~b:', d)

result of bitwise ~a: -61
result of bitwise ~b: -14

In [21]:
#Bitwise LEFT SHIFT Operator

a = 60
b = 13

c = a<<2
d = b<<2

print('result of bitwise a<<2:', c)
print('result of bitwise b<<2:', d)

result of bitwise a<<2: 240
result of bitwise b<<2: 52

In [22]:
#Bitwise RIGHT SHIFT Operator

a = 60
b = 13

c = a>>2
d = b>>2

print('result of bitwise a>>2:', c)
print('result of bitwise b>>2:', d)

result of bitwise a<<2: 15
result of bitwise b<<2: 3

In [23]:
#IDENTIFY Operator (is, is not)

#Example 1
x = 100
y = 200

print('Result of Identify operator (x is y):', x is y)
print('Result of Identify operator (x is not y):', x is not y)

Result of Identify operator (x is y): False
Result of Identify operator (x is not y): True

In [24]:
#IDENTIFY Operator (is, is not)

#Example 1
x = 200
y = 200

print('Result of Identify operator (x is y):', x is y)
print('Result of Identify operator (x is not y):', x is not y)

Result of Identify operator (x is y): True
Result of Identify operator (x is not y): False

In [25]:
#IDENTIFY Operator (in, not in)
 
#Example 1
x = [100, 200, 150]

print('Result of Identify operator (100 in x):', 100 in x)
print('Result of Identify operator (50 not in):', 50 not in x)

Result of Identify operator (100 in x): True
Result of Identify operator (50 not in): True

In [26]:
#IDENTIFY Operator (in, not in)
 
#Example 1
x = [100, 200, 150]

print('Result of Identify operator (100 in x):', 100 in x)
print('Result of Identify operator (50 not in):', 200 not in x)

Result of Identify operator (100 in x): True
Result of Identify operator (50 not in): False

In [27]:
# Tuple
Tuple1 = (10, 15, 'A')
print(Tuple1)

(10, 15, 'A')

In [28]:
print(Tuple1[1])

15

In [36]:
#list

List1 = [[10, 15, 20], 'A', 25,(10, 15, 20)]

print('List1:\t\t', List1)
print('List1[0]:\t', List1[0])
print('List1[0][1]:\t', List1[0][1])

List1:		 [[10, 15, 20], 'A', 25, (10, 15, 20)]
List1[0]:	 [10, 15, 20]
List1[0][1]:	 15

In [38]:
# Dictionary

A = {'Age':[25,30,35], 'Name':['JOhn', 'Sam', 'Jim', 'Kim']}

print(A)
print(type(A))
print(A['Name'])

{'Age': [25, 30, 35], 'Name': ['JOhn', 'Sam', 'Jim', 'Kim']}
<class 'dict'>
['JOhn', 'Sam', 'Jim', 'Kim']

In [39]:
# IF Condition

a = 100
b = 100

if a > b:
    print(a, 'Greater than', b)
elif b > a:
    print(b, 'Greater than', a)
else:
    print(a,' and ',b,' are equal')

100  and  100  are equal

In [42]:
# IF Condition Between

a = 300
if (100 <= a <=200):
    print(a,'is between 100 and 200')
elif a<100:
    print(a,'less than 100')
else:
    print(a,'Greater than 200')

300 Greater than 200

In [43]:
# Nested if Condition

# Example 1
a = 40
if a < 100:
    print(a, 'Less than 100')
    
    if (50 <= a <= 100):
        print(a, 'is between 50 and 100')
    elif (20 <= a <= 50):
        print(a, 'is between 20 and 50')
    else:
        print(a, 'is less than 20')
elif (20 <= a <= 200):
    print(a, 'is between 50 and 200')
else:
    print(a,'Greater than 200')

40 Less than 100
40 is between 20 and 50

In [44]:
# Nested if Condition

# Example 1
a = 150
b = 200

if a < b:
    print(a, 'is smaller than', b)
    
    if (10 <= a <= 100):
        print(a, 'is between 10 and 100')
    elif (a < 10):
        print(a, 'is less than 10')
else:
    print(a,'is bigger than', b)

150 is smaller than 200

In [45]:
# Assignment 1

In [48]:
# Que.1) Write a python program to get the python version you are using

import sys
print("Python version")
print(sys.version)
print("\nVersion info.")
print(sys.version_info)

Python version
3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

Version info.
sys.version_info(major=3, minor=10, micro=9, releaselevel='final', serial=0)

In [49]:
# Que. 2) Write a python program to display the current date and time

#option 1

import datetime

now = datetime.datetime.now()
print('date time using datetime.now():\t', now)

#option 2
print('\ncurrent date and time:\n', now.strftime("%Y-%m-%d %H:%M:%S"))

date time using datetime.now():	 2023-10-01 15:37:43.491039

current date and time:
 2023-10-01 15:37:43

In [51]:
# Que. 3) Write a python program which accepts the radius of a circle from
# the user and compute the area

from math import pi
r = float(input('Input the radius of the circle:\t'))

print('The area of the circle with radius ' + str(r) + ' is: ' 
      + str(pi * r **2))

Input the radius of the circle:	6
The area of the circle with radius 6.0 is: 113.09733552923255

In [54]:
# Que. 4) Write a python program which accepts the user's first and last name
# and print them in reverse order with a space between them

fname = input('Input your first name:\t')
lname = input('Input your last name:\t')

print('Hello ' + fname + " " +lname)

Input your first name:	Nikhil
Input your last name:	Adam
Hello Nikhil Adam

In [55]:
# Que. 5) Write a python program which accepts a sequence of comma-separated
# numbers from user and generate a list and a tuple with those numbers

#Example 1
values = input('Input some comma separated numbers:\t')

list1 = values.split(',')
tuple1 = tuple(list1)
print('List:\t', list1)
print('Tuple:\t', tuple1)

Input some comma separated numbers:	5, 10, 15, 20
List:	 ['5', ' 10', ' 15', ' 20']
Tuple:	 ('5', ' 10', ' 15', ' 20')

In [56]:
#Example 2

txt = "Hello, my name is Nikhil, I am from India"

x = txt.split(',')

print(x)

['Hello', ' my name is Nikhil', ' I am from India']

In [57]:
#Example 3

txt = "Apple#Banana#Cherry#Orange"

x = txt.split('#')
print(x)

['Apple', 'Banana', 'Cherry', 'Orange']

In [58]:
#Example 4
x = txt.split('#', 1)
print(x)

['Apple', 'Banana#Cherry#Orange']

In [60]:
# Que. 6) Write a python program to accept a filename from the user and print
# the extension of that

filename = input('Input the filename:\t')
f_extns = filename.split('.')
print('The extension of the file is:\t' + repr(f_extns[-1]))

Input the filename:	Calculator.java
The extension of the file is:	'java'

In [62]:
# Example of str(), repr()

import datetime
today = datetime.datetime.now()
print('date time:\t\t', today)

print('date time with str:\t', str(today))
print('date time with repr:\t', repr(today))

date time:		 2023-10-01 16:04:21.152455
date time with str:	 2023-10-01 16:04:21.152455
date time with repr:	 datetime.datetime(2023, 10, 1, 16, 4, 21, 152455)

In [64]:
# Que. 7) Write a python program to display the first and last colors from  
# the following list

# color_list = ["Red", "Green", "White", "Black"]

color_list = ["Red", "Green", "White", "Black"]
print("%s and %s" %(color_list[0], color_list[-1]))

Red and Black

In [68]:
# Que. 8) Write a python program that accepts an integer (n) and computes 
# the value of n+nn+nnn

a = int(input('Input an integer:\t'))
n1 = int("%s" %a)
n2 = int("%s%s" %(a, a))
n3 = int("%s%s%s" %(a, a, a))
print(n1 + n2 + n3)

Input an integer:	10
102030

In [70]:
# Que. 9) Write a python program to get the volume of a sphere

r = int(input("Enter the radius of shpere:\t"))

v = 4/3 * pi * r**3
print("The volume of the sphere is:\t", v)

Enter the radius of shpere:	6
The volume of the sphere is:	 904.7786842338603

In [72]:
# Que. 10) Write a python program to convert seconds to day, hour, minutes
# and seconds

time = float(input("Input time in seconds:\t"))

day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time

print("d:h:m:s -> %d days :%d hours :%d minutes :%d seconds" 
      %(day, hour, minutes, seconds))

Input time in seconds:	32656523
d:h:m:s -> 377 days :23 hours :15 minutes :23 seconds